@font-face {
	font-family: 'Action_Man';
  src: url('fonts/actionman/Action_Man-webfont.eot');
  src: url('fonts/actionman/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/actionman/Action_Man-webfont.woff') format('woff'),
       url('fonts/actionman/Action_Man-webfont.ttf') format('truetype'),
       url('fonts/actionman/Action_Man-webfont.svg') format('svg');
}

body {
	background-image: url('images/wallpaper_paris_comic.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	margin: 0px;
}

section {
}

a {
	color: inherit;
	text-decoration: none;
}

h4, legend, p {
	font-family: 'PT Sans', sans-serif;
}

button:focus {
	outline: none;
}

/*///////////////////////////////
//////////// Header /////////////
///////////////////////////////*/

header {
	font-family: 'Action_Man';
}

#slogan1 {
	color: #006699;
}

#slogan2 {
	color: #ffff00;
}

#slogan3 {
	color: #cc0066;
}

#slogan4 {
	color: #33cc33;
}

@media screen and (min-width: 769px) {

	#bandeau {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 10px;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		background-image: url('images/bandeau_velib.png');
		background-repeat: repeat-x;
		background-position: left bottom;
	}

	#logo {
		width: 20%;
		min-width: 150px;
	}

	#slogan {
		width: 70%;
		font-size: 3.2vw;
		text-align: -webkit-center;
	}
	.command {
		font-size: 1em;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

	#bandeau {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 10px;
		padding-bottom: 45px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		background-image: url('images/bandeau_velib.png');
		background-repeat: repeat-x;
		background-position: 46% bottom;
	}

	#logo {
		width: 20%;
		min-width: 150px;
	}

	#slogan {
		width: 70%;
		font-size: 1.6em;
		text-align: -webkit-center;
	}
	.command {
		font-size: 1em;
	}
}

@media screen and (max-width: 480px) {

	#bandeau {
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		background-image: url('images/bandeau_velib.png');
		background-repeat: repeat-x;
		background-position: -60% bottom;
	}

	#logo {
		width: 20%;
		min-width: 150px;
		margin-top: 20px;
	}

	#slogan {
		font-size: 1.5em;
		text-align: -webkit-center;
	}

	.command {
		font-size: 0.75	em;
	}
}

/*///////////////////////////////
/////// Section Diaporama ///////
///////////////////////////////*/

#diaporama {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 40px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#bloc_photos {
	width: 75%;
}

#bloc_photos > div {
	position: relative;
	display: none;
}

@media screen and (min-width: 769px) {

	.description_photo {
		position: absolute;
		bottom: 0;
		width: 98%;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 2vw;
		background-color: rgba(255, 255, 255, 0.7);
		display: none;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

	.description_photo {
		position: absolute;
		bottom: 0;
		width: 98%;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		background-color: rgba(255, 255, 255, 0.7);
		display: none;
	}
}

@media screen and (max-width: 480px) {

	.description_photo {
		width: 98%;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 5px;
		text-align: center;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		background-color: rgba(255, 255, 255, 0.7);
		display: none;
	}
}

img {
	width: auto;
	margin-bottom: 0px;
	vertical-align: middle;
}

/*//////////////////////////////////////
/////// Section Map & Formulaire ///////
//////////////////////////////////////*/

@media screen and (min-width: 1060px) {

	#bloc_canvas {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#bloc_canvas_reset {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	#canvas {
		border: none;
		cursor: default;
		background-color: gainsboro;
	}

	#bouton_valider {
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		background-color: gainsboro;
		padding: 10px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1059px)  {

	#bloc_canvas {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	#bloc_canvas_reset {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#canvas {
		border: none;
		cursor: default;
		background-color: gainsboro;
	}

	#bouton_valider {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		padding: 10px;
		margin-top: 10px;
	}
}

@media screen and (min-width: 769px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		display: flex;
	}

	#map {
		width: 50%;
		height: 600px;
	}

	#container {
		width: 45%;
		min-height: 600px;
		margin-left: 5%;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1px;
		padding-bottom: 20px;
		border: 1px solid gainsboro;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		background-color: gainsboro;
		padding: 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	#map {
		width: 100%;
		height: 300px;
	}

	#container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10px;
		border: 1px solid gainsboro;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		padding: 10px;
	}

	#bloc_canvas {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#bloc_canvas_reset {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#canvas {
		border: none;
		cursor: default;
		background-color: gainsboro;
	}

	#bouton_valider {
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		padding: 10px;
	}
}

@media screen and (max-width: 480px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	#map {
		width: 100%;
		height: 300px;
	}

	#container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10px;
		border: 1px solid gainsboro;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		padding: 10px;
	}

	#bloc_canvas {
		display: flex;
		flex-direction: column;
	}

	#bloc_canvas_reset {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#canvas {
		border: none;
		cursor: default;
		background-color: gainsboro;
	}

	#bouton_valider {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: none;
		padding: 10px;
		margin-top: 10px;
	}
}

#titre_infos_station {
	font-family: 'PT Sans', sans-serif;
	background-color: white;
	text-decoration: underline;
}

#statut {
	padding: 10px;
	text-align: center;
}

.ouverte {
	color: white;
	background-color: limegreen;
}

.fermee {
	background-color: #e21313;
}

.indefini {
	color: white;
	background-color: black;
}

input {
	width: 89%;
	border: none;
	background-color: gainsboro;
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

#canvas:hover {
	box-shadow: 0 0 10px #2b7fc1;
}

#signature {
	margin-top: 20px;
	display: none;
}

#blank {
	display: none;
}

#reset {
	color: black;
	border: 1px solid whitesmoke;
}

#erreur {
	display: none;
	font-family: 'PT Sans', sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
}

.alert {
	color: red;
	font-weight: bold;
}

/*//////////////////////////////////////
//////////// Section Résumé ////////////
//////////////////////////////////////*/

#resume {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid gainsboro;
	background-color: white;
	font-family: 'PT Sans', sans-serif;
	display: none;
}

#titre_resume {
	text-decoration: underline;
}

.border {
	border: 1px solid black;
}