@font-face {
    font-family: 'Comicrelief';
    src: url('fonts/comicrelief/ComicRelief-webfont.eot') format('eot'),
         url('fonts/comicrelief/ComicRelief-webfont.woff') format('woff'),
         url('fonts/comicrelief/ComicRelief-webfont.ttf') format('truetype'),
         url('fonts/comicrelief/ComicRelief-webfont.svg') format('svg');
}

body {
	background-color: gainsboro;
}

a {
	color: inherit;
	text-decoration: none;
}

h4, legend, p {
	/*font-family: 'Comicrelief', serif;*/
	font-family: 'PT Sans', sans-serif;
}

#bandeau {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 20%;
}

#diaporama {
	width: 90%;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#bloc_photos {
	display: inline-flex;
	align-items: center;
	perspective: 600px;
	transition: 2s;
	z-index: 2;
}

.diaporama_elt {
	max-width: 500px;
	max-height: 300px;
}

.diaporama_elt img {
	width: 100%;
}

#bloc_photos div:first-child {
	transform: rotateY(30deg);
	opacity: 0.5;
	margin-right: -150px;
	margin-left: 10px;
	/*transition: 2s;*/
}

#bloc_photos div:nth-child(2) {
	transform: rotateY(30deg);
	opacity: 0.7;
	margin-right: -50px;
	margin-left: -50px;
	/*transition: 2s;*/
}

#bloc_photos div:nth-child(3) {
	margin-left: -150px;
	margin-right: -150px;
	opacity: 1;
	width: 150%;
	/*transform: scale(1.5);*/
	/*transition: 2s;*/
	z-index: 10;
}

#bloc_photos div:nth-child(4) {
	transform: rotateY(-30deg);
	opacity: 0.7;
	margin-left: -50px;
	margin-right: -50px;
	/*transition: 2s;*/
}

#bloc_photos div:nth-child(5) {
	transform: rotateY(-30deg);
	opacity: 0.5;
	margin-left: -150px;
	margin-right: 10px;
	z-index: 2;
	/*transition: 2s;*/
}

.cmd_left {
	margin-left: 0px;
	margin-right: 50px;
	z-index: 1000;
}

.cmd_right {
	margin-right: 0px;
	margin-left: 50px;
	z-index: 1000;
}


/*----- Section Map & Formulaire -----*/

@media screen and (min-width: 1060px) {

	#bloc_canvas {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#canvas {
		width: 100%;
		height: 150px;
		margin-right: 2%;
		border: 2px solid black;
	}

	#bouton_valider {
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1059px)  {

	#bloc_canvas {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	#canvas {
		width: 100%;
		height: 150px;
		border: 2px solid black;
	}

	#bouton_valider {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
		margin-top: 10px;
	}
}

@media screen and (min-width: 769px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}

	#map {
		width: 50%;
		height: 600px;
	}

	#fieldset_container {
		width: 45%;
		min-height: 600px;
		margin-left: 5%;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10px;
		border: 2px solid black;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
	}

	#statut {
		padding: 10px;
		text-align: center;
	}

	.ouverte {
		color: white;
		background-color: limegreen;
	}

	.fermee {
		background-color: #e21313;
	}

	.indefini {
		color: white;
		background-color: black;
	}

	#signature {
		margin-top: 20px;
		display: none;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#map {
		width: 100%;
		height: 300px;
	}

	#fieldset_container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10px;
		border: 2px solid black;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
	}

	#statut {
		padding: 10px;
		text-align: center;
	}

	.ouverte {
		color: white;
		background-color: limegreen;
	}

	.fermee {
		background-color: #e21313;
	}

	.indefini {
		color: white;
		background-color: black;
	}

	#signature {
		margin-top: 20px;
		display: none;
	}

	#bloc_canvas {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#canvas {
		width: 100%;
		height: 150px;
		margin-right: 2%;
		border: 2px solid black;
	}

	#bouton_valider {
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
	}
}

@media screen and (max-width: 480px) {

	#carte_details {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	#map {
		width: 100%;
		height: 300px;
	}

	#fieldset_container {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#bloc_infos_station {
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 10px;
		border: 2px solid black;
		background-color: white;
		display: none;
	}

	#bouton_reserver {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
	}

	#statut {
		padding: 10px;
		text-align: center;
	}

	.ouverte {
		color: white;
		background-color: limegreen;
	}

	.fermee {
		background-color: #e21313;
	}

	.indefini {
		color: white;
		background-color: black;
	}

	#signature {
		margin-top: 20px;
		display: none;
	}

	#bloc_canvas {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	#canvas {
		width: 100%;
		height: 150px;
		border: 2px solid black;
	}

	#bouton_valider {
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 1em;
		font-weight: bold;
		border: 2px solid black;
		padding: 10px;
		margin-top: 10px;
	}
}

.border {
	border: 1px solid black;
}

